.page1 {
  background-image: url(../img/light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-family: 'Rock Salt', cursive;
  color: black;
  font-size: 100px;
  text-align: center;
  line-height: 450px;
}

