.page1 {
  background-image: url(../img/light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-family: 'Rock Salt', cursive;
  color: black;
  font-size: 100px;
  text-align: center;
  line-height: 450px;
}

h2 {
  position: absolute;
  bottom: 275px;
  text-align: center;
  width: 100%;
  font-family: 'Cinzel', serif;
  color: black;
  font-size: 55px;
  border-bottom: 1px;
}

ul {
  line-height: 150px;
  text-align: center;
  font-family: 'Cinzel', serif;
  color: black;
  font-size: 40px;
}

