body{
  background-color: white;
h2 {
  padding-top: 120px;
  font-family: 'Cinzel', serif;
  font-size: 40px;
  padding-left: 10px;
  padding-bottom: 15px;
}

.box {
  border-style: solid;
  background-color: #d7d3c4;
  width: 800px;
  height: 300px;
  border-radius: 15px;
  padding-left: 15px;
}
p {
  font-family: 'Lusitana', serif;
  font-size: 18px;
  padding-right: 25%;
  padding-top: 10px;
  text-indent: 15px;
  line-height: 25px;
}

h3 {
  font-family: 'Cinzel', serif;
  font-size: 35px;
  padding-bottom: 75px;
  padding-top: 75px;
  text-align: center;
}
