body{
  background-color: white;
.logo {
  float: left;
  font-family: 'Rock Salt', cursive;
  font-size: 35px;
  padding-top: 30px;
  margin-left: 15%;
}

nav {
  float: right;
}

nav ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 40px;
}

nav a {
  text-decoration: none;
  color: black;
  font-family: 'Cinzel', serif;

}

nav a:hover {
  color: white;
}

h2 {
  padding-top: 120px;
  font-family: 'Cinzel', serif;
  font-size: 40px;
  padding-left: 10px;
  padding-bottom: 15px;
}

.box {
  border-style: solid;
  background-color: #d7d3c4;
  width: 800px;
  height: 300px;
  border-radius: 15px;
  padding-left: 15px;
}
p {
  font-family: 'Lusitana', serif;
  font-size: 18px;
  padding-right: 25%;
  padding-top: 10px;
  text-indent: 15px;
  line-height: 25px;
}

h3 {
  font-family: 'Cinzel', serif;
  font-size: 35px;
  padding-bottom: 75px;
  padding-top: 75px;
  text-align: center;
}
